@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*Css Custom properties*/
:root {
    --main-background: black;
    --main-fonts-color: #fff;
    --main-decor-color: #00a9e2;
      --main-header-background: #21252e;
    --main-font-family: 'Poppins', san-serif;
}

/*Universal Selector*/
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

main {
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-background);
}

/*Header Design*/

header{
    margin: 0 auto;
    width: 100%;
    height: 70px;
    display: flex;
     align-items: center;
    justify-content: space-around;
     background: transparent;
    position: fixed;
    top: 0;
    transition: 0.3s;
    z-index: 5;
}

nav-show{
    opacity: 0;
}





